fastapi==0.135.1
uvicorn==0.41.0
requests==2.32.5
python-multipart==0.0.22
python-dotenv==1.2.2
webauthn==1.11.1
cryptography==46.0.5
pydantic-settings==2.13.1
pydantic==2.12.5
httpx==0.28.1
email-validator==2.3.0
pydantic-extra-types==2.11.0
phonenumbers==9.0.25
cachetools==5.5.2
authlib==1.6.9
itsdangerous==2.2.0
starsessions==2.2.1
PyJWT==2.11.0
redis==6.4.0
